<header>
        <!--Navbar-->
        <nav class="navbar navbar-toggleable-md navbar-dark">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <strong>Sistema de Consulta</strong>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav1">
                </div>
            </div>
        </nav>
        <!--/.Navbar-->
    </header>